a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 40ch;
    background-color: #0D1F2D;
    color: #E4E6EB;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.mainSection{
    margin-top: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.candidaturesBtn{
    display: block;
    background-color: #ffd90462;
    padding: 10px 15px;
    border-radius: 10px;
}
.candidaturesBtn:hover {
    background-color: #ffd9043f;
}
.candidaturesBtn:active {
    background-color: #ffd90421;

}
.connect-section {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 30px;
    background-color: #ffffff1c;
    border-radius: 10px;
    padding: 10px;
}
.btnBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}
.connectBtn {
    background-color: #ffffff13;
    padding: 10px 15px;
    border-radius: 10px;
}
.connectBtn:hover {
    background-color: #94949413;
}
.connectBtn:active {
    background-color: #0000002a;
}